/* all sheard style */
*{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Playfair Display', serif;
}
p{
    font-family: 'Josefin Sans', sans-serif;
}
.primary-color{
    color: #E55473;
}
section{
    margin-top: 100px;
}
.btn-primary{
    border-radius: 8px;
    background: #E55473;
    padding: 20px 40px;
    color: white;
    border: 0;
    font-weight: 700;
    margin-top: 30px;
}

/* header part style */


.header{
    padding: 50px 0px 0px 240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FDEEF1;
    
}
.header-titel{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    width: 708px;

}
.header-description{
    color: #ACA3A5;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 600px;
    margin-top: 30px;
}
.header-right-side > img{
    width: 635px;
    height: 800px;

}
/* second section */
.second-section{
    text-align: center;
}
.second-titel{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;

}
.second-description{
    color: #2D2D2D;
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
width: 594px;
margin: 10px auto;
}
.products{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1140px;
    margin: 0 auto;
    gap: 20px;

}
.feature1{
    background-color: #F2DEE8;
    border-radius: 300px 300px 0px 0px;
    width: 464px;
    height: 538px;
}
 .flowers1{
    padding:100px 30px 0px ;
} 
.frist-img{
    width: 310px;
    height: 438px;
    margin-left: 45px;
}
.feature2{
    background-color: #D8EEEF;
    border-radius: 300px 300px 0px 0px;
    width: 464px;
    height: 538px;
}
.flowers{
    padding:100px 30px 0px ;
}
.second-img{
    width: 370px;
    height: 370px;
    margin-left: 25px;
}
.feature3{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background-color: #E2EADA;
}
.third-img{
    width: 314px;
    height: 437px;
    margin-left: 45px;
}
.product-titel{
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

/* icon section style */
.icon-section{
    background: #F4F4F4;
    width: 1140px;
    height: 320px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}
.icon  {
    margin: auto auto;
}
.icons1{
    width: 70px;
    height: 70px;
    margin-left: 168px;
    
}
.icons2{
    width: 70px;
    height: 70px;
    margin-left: 123px;
    
}
.icons3{
    width: 70px;
    height: 70px;
    margin-left: 65px;
}
.icon-titel{
    color: #2D2D2D;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
}



/* dissount section design */
.discount-section{
    display: flex;
    background-color: #FEF6F8;
    padding: 100px 0px 0px 200px;
    align-items: center;
    justify-content: space-around;
}
.discount-titel{
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
}
.discount-description{
    color: #797979;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 594px;
}
.sign-btn{
    text-align: center;
}
/* instagram section style */

.ins-section{
    width: 1140px;
    margin: 0 auto;
}
.ins-titel{
    color: #272727;
text-align: center;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.ins-description{
    color: #797979;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 550px;
}
.ins-imgs{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.ins-imgs img{
    width: 300px;
    height: auto;
}

/* footer style */

footer{
    background-color: black;
    padding: 150px 0px;
}
.footer-titel{
    color: white;
    font-size: 48px;
    font-weight: 800;
    text-align: center;

}
.footer-description{
    color: #E9EAEB;
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
width: 625px;
}